/* ----------common---------- */
/* 폰트등록 */
@font-face {
  font-family: NexonGothic;
  src: url("../font/NEXON\ Lv1\ Gothic\ OTF.otf");
}

@font-face {
  font-family: NexonGothic light;
  src: url("../font/NEXON\ Lv1\ Gothic\ OTF\ Light.otf");
}

/* 전체 폰트사이즈와 폰트스타일 고정 */
body,
html {
  font-family: NexonGothic light;
  font-size: 18px;
}

/* 전체 p태그 상하간격 넓힘 */
p {
  line-height: 150%;
}

/* 화면 하단 큰글씨 */
h1 {
  font-size: 10rem;
  color: #cccccc;
  font-weight: 900;
  opacity: 0.1;
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 70%;
  width: 100%;
  text-align: end;
}

/* COLOR-BOX */
.colorsample {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

/*애니메이션 등록*/
@keyframes moveLeftToRight {
  0% {
    transform: translateX(-300%)
  }

  100% {
    transform: translateX(0%)
  }
}

@keyframes logoMove {
  0% {
    transform: translateY(30%)
  }

  50% {
    transform: translateY(00%)
  }

  100% {
    transform: translateY(30%)
  }
}

.mbtt {
  transform: translateY(100%);
  opacity: 0.1;
  transition: all 1s ease 0s;
}

.mbtt.on {
  transform: translateY(0);
  opacity: 1;
}

/* ----------layout---------- */
main>section {
  width: 100%;
  height: 100vh;
  background: #232323;
  color: #fff;
}

footer {
  width: 100%;
  height: 100vh;
}

/* ----------header---------- */
/* logo */
#logo {
  position: fixed;
  top: 2%;
  right: 2%;
  width: 100px;
  z-index: 2;
  cursor: pointer;
  animation: logoMove 5s linear 0s infinite;
}

#logo path {
  fill: #71C15E;
}

/* menu */
.gnb {
  color: #71C15E;
  border: 1px solid #71C15E;
  border-radius: 30px;
  width: 30%;
  display: flex;
  text-align: center;
  position: fixed;
  top: 4%;
  right: 7%;
  z-index: 1;
  transform: translateX(130%);
  transition: all 1s ease 0s;
}

.gnb.on {
  transform: translateX(0%);
}

.gnb>li {
  color: #71C15E;
  border-radius: 30px;
  flex: 1;
  height: 40px;
  line-height: 40px;
  position: relative;
}

.gnb>li:nth-of-type(1) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.gnb>li:nth-of-type(2),
.gnb>li:nth-of-type(3) {
  border-radius: 0;
}

.gnb>li:nth-of-type(4) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.gnb>li>a {
  display: block;
}

.gnb>li:hover {
  background: #71C15E;
  color: #fff;
}

.gnb>li>ul {
  background: #71C15E;
  color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: all 1s ease 0s;
}

.gnb>li:hover ul {
  opacity: 1;
}

.gnb>li>ul>li {
  height: 25px;
  line-height: 25px;
  padding: 5px 0;
  border: 1px solid #71C15E;
  border-radius: 30px;
}

.gnb>li>ul>li>a {
  display: block;
}

.gnb>li>ul>li:hover {
  background: #fff;
  color: #71C15E;
}

/* INTRO */
#intro {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro>figure {
  width: 60%;
}

/* web pulisher & web designer */
.introSVG .cls-1 {
  fill: transparent;
  stroke: #232323;
}

.introSVG.on .cls-1 {
  fill: #232323;
  stroke-dashoffset: 0 !important;
}

/* Son Nara */
.introSVG .cls-2 {
  fill: transparent;
  stroke: #71C15E;
}

.introSVG.on .cls-2 {
  fill: #71C15E;
  stroke-dashoffset: 0 !important;
}

/* intro left bar */
.introSVG .cls-deco {
  fill: transparent;
  opacity: 0.5;
  transform: translateX(-60px);
  transition: all 1s ease 5s;
}

.introSVG.on .cls-deco {
  fill: #232323;
  opacity: 1;
  transform: translateX(0px);
  stroke-dashoffset: 0 !important;
}

/* page2 */
/* creative designer i'm ready */
#iam {
  position: relative;
  background: #fff;
  color: #232323;
}

.iamTxt {
  position: absolute;
  bottom: 200px;
  left: 270px;
  font-family: NexonGothic;
}

#iam>h1 {
  color: #232323;
  font-size: 20rem;
}

#iam>figure {
  width: 80%;
  padding: 10% 0 0 10%;
}

.type {
  color: #71C15E;
  display: flex;
  width: 550px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.type>li {
  margin-right: 20px;
  margin-bottom: 10px;
  width: 100px;
}

.bar2 {
  position: absolute;
  bottom: 200px;
  left: 210px;
}

/* creative designer */
.cd .cls-1 {
  fill: transparent;
  stroke: #232323;
}

.cd.on .cls-1 {
  fill: #232323;
  stroke-dashoffset: 0 !important;
}

/* im ready */
.cd .cls-2 {
  fill: transparent;
  stroke: #71C15E;
}

.cd.on .cls-2 {
  fill: #71C15E;
  stroke-dashoffset: 0 !important;
}

/* page3 - skill */
#skill {
  position: relative;
}

#skill h1 {
  line-height: 112%;
}

.skill {
  width: 1000px;
  margin: 0 auto;
  padding-top: 100px;
}

.skill>li {
  display: flex;
  margin-bottom: 30px;
}

.skill>li:last-of-type {
  margin-bottom: 0;
}

.skill>li>div {
  display: flex;
  align-items: center;
}

.skill h4 {
  width: 150px;
  color: #71C15E;
  margin-left: 50px;
}

.skill p {
  width: 550px;
  word-break: keep-all;
}

.skill figure {
  width: 150px;
  position: relative;
}

.skill svg {
  transform: rotate(-90deg);
}

.skill circle {
  fill: #000;
  fill-opacity: 0.5;
  stroke: #71C15E;
  stroke-width: 2;
  stroke-dasharray: 314;
  stroke-dashoffset: 314;
}

.per {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* page4 - pop-up */
#popup {
  position: relative;
}

#popup>h1 {
  font-size: 7rem;
}

.btnPopup {
  position: absolute;
  top: 50%;
  right: 10%;
  width: 50px;
  cursor: pointer;
}

.btnPopup img {
  width: 100%;
  object-fit: cover;
}

.popStation {
  width: 1200px;
  height: 700px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 150px;
  position: relative;
}

.popTrain {
  width: 800%;
  height: 100%;
  display: flex;
  transition: all 1s ease 0s;
  overflow: hidden;
}

.popTrain>li {
  width: calc(100%/8);
  height: 100%;
  background: transparent;
}

.popTrain>li>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transform: scale(1);
  transition: all 1s ease 0s;
}

.popTrain>li:hover img {
  filter: grayscale(0.7);
  transform: scale(1.1);
}

.btnView {
  position: absolute;
  top: calc(50% + 75px);
  left: 50%;
  width: 300px;
  height: 57px;
  color: #fff;
  font-weight: 900;
  background: #000;
  border: 1px solid #71C15E;
  border-radius: 50px;
  z-index: 1;
  text-align: center;
  line-height: 57px;
  display: none;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.btnView.on {
  display: block;
}

.pop_pagination {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  bottom: 5%;
  font-size: 15px;
  width: 350px;
  transform: translateX(-50%);
  z-index: 10;
}

.pop_pagination>li {
  border: 1px solid #71C15E;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pop_pagination>li.on {
  background: #71C15E;
}

.popWrap {
  position: absolute;
  top: 12%;
  left: 17%;
  background: #232323;
  border: 1px solid #71C15E;
  width: 1000px;
  height: 600px;
  display: none;
  z-index: 1;
}

.popWrap.on {
  display: block;
}

/* popup - (1) */
.p1 {
  display: flex;
  margin: 50px;
}

.p1>img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

/* popup - (2) */
.p2 {
  display: flex;
  margin: 50px;
}

.p2>img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

/* popup - (3) */
.p3 {
  display: flex;
  margin: 50px;
}

.p3>img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

/* popup - (4) */
.p4 {
  display: flex;
  margin: 50px;
}

.p4>img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

/* popup - (5) */
.p5 {
  display: flex;
  margin: 50px;
}

.p5>img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

/* popup - (6) */
.p6 {
  display: flex;
  margin: 50px;
}

.p6>img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

/* popup - (7) */
.p7 {
  display: flex;
  margin: 50px;
}

.p7>img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

/* popup - (8) */
.p8 {
  display: flex;
  margin: 50px;
}

.p8>img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.popTxt {
  word-break: keep-all;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popTxt>li {
  margin-bottom: 20px;
}

.popTxt h4 {
  color: #71C15E;
  margin-bottom: 10px;
}

.tmpopflex {
  display: flex;
}

.tmpop1 {
  background: #e30707;
}

.tmpop2 {
  background: #00ffff;
}

.tmpop3 {
  background: #e5be17;
}

.tmpop4 {
  background: #fedc00;
}

.tmpop5 {
  background: #ffe576;
}

.tmpop6 {
  background: #836a3d;
}

.tmpop7 {
  background: #00fc7f;
}

.tmpop8 {
  background: #fcee21;
}

.tmpop9 {
  background: #c79939;
}

.tmpop10 {
  background: #f40000;
}

.tmpop11 {
  background: #ffff00;
}

.tmpop12 {
  background: #599c70;
}

.tmpop13 {
  background: #ff8591;
}

.tmpop14 {
  background: #be1615;
}

.Exit {
  width: 30px;
  height: 30px;
  border: 1px solid #71C15E;
  position: absolute;
  top: 1.6%;
  right: 1%;
  cursor: pointer;
}

.Exit>span {
  width: 20px;
  height: 1px;
  background: #71C15E;
  display: block;
  margin: 8px;
  transform-origin: 0% center;
  transition: all 0.5s ease 0s;
}

.Exit>span:nth-of-type(1) {
  transform: rotate(50deg);
}

.Exit>span:nth-of-type(2) {
  transform: rotate(-50deg);
  margin-top: 14px;
}

/* page5 - banner */
#banner {
  position: relative;
}

.banner_pagination {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 180px;
  justify-content: space-between;
  font-size: 15px;
  z-index: 10;
}

.banner_pagination>li {
  border: 1px solid #71C15E;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.banner_pagination>li.on {
  background: #71C15E;
}

.brStation {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.brStation img {
  width: 100%;
  object-fit: cover;
  margin: 150px 0 50px 0;
}

.brTrain {
  width: 400%;
  display: flex;
  transition: all 1s ease 0s;
}

.brTrain>li {
  width: 25%;
}

.brTrain>li>ul {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.brTrain>li>ul>li {
  width: 50%;
  display: flex;
  height: 120px;
  position: relative;
}

.brTrain h4 {
  color: #71C15E;
  width: 150px;
  margin: 10px 0 0 10px;
}

.brTrain>li>ul>li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 1px;
  height: 15px;
  border: 1px solid #71C15E;
}

.brTrain>li>ul>li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 1px;
  width: 15px;
  border: 1px solid #71C15E;
}

.brTrain p {
  width: calc(100% - 150px);
  margin: 10px 0 0 10px;
  word-break: keep-all;
}

.tmbr {
  background: #140b0c;
}

.tmbr2 {
  background: #ef951b;
}

.tmbr3 {
  background: #f57f29;
}

.tmbr4 {
  background: #ee5245;
}

.tmbr5 {
  background: #eb3669;
}

.tmbr6 {
  background: #e8930e;
}

.tmbr7 {
  background: #f9d84d;
}

.tmbr8 {
  background: #faa0a0;
}

.tmbr9 {
  background: #adf5e1;
}

.btnBanner {
  position: absolute;
  top: 35%;
  right: 5%;
  width: 50px;
  cursor: pointer;
}

/* page6 - redesign */
#redesign {
  position: relative;
  display: flex;
}

.reImg {
  width: 1000px;
  margin: 100px 0 0 100px;
}

.reImg>img {
  width: 100%;
  object-fit: cover;
}

.txtRedesign {
  margin: 150px 0 0 50px;
}

.txtRedesign>h4 {
  font-size: 1.2rem;
  color: #71C15E;
  margin-bottom: 10px;
  line-height: 150%;
}

.txtRedesign>ul>li {
  background: #000;
  width: 300px;
  height: 70px;
  border-radius: 100px;
  margin-top: 20px;
}

.txtRedesign>ul>li:hover {
  color: #71C15E;
}

.txtRedesign>ul>li>a {
  display: flex;
  justify-content: space-between;
  line-height: 70px;
  padding-left: 30px;
  width: 250px;
}

.txtRedesign span {
  padding-top: 4px;
}

.txtRedesign span img {
  width: 10px;
}

.reWrap {
  border: 1px solid #71C15E;
  background: #232323;
  display: none;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 1300px;
  height: 800px;
  z-index: 1;
}

.reWrap.on {
  display: block;
}

.rePopImg {
  margin: 20px 0 0 40px;
  width: 1217px;
  height: 700px;
  overflow-x: hidden;
  overflow-y: auto;
}

.plan {
  display: flex;
  align-items: center;
}

.plan dt {
  border: 1px solid #71C15E;
  height: 30px;
  float: left;
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
  border-radius: 16px;
  margin-right: 10px;
}

.plan dt.on {
  background: #71C15E;
}

.plan dd {
  position: absolute;
  top: 50px;
  left: 0;
  display: none;
}

.plan dd.on {
  display: block;
}

/* -before & after- */
.beforeAfter {
  display: flex;
  align-items: center;
}

.beforeAfter dt {
  border: 1px solid #71C15E;
  height: 30px;
  float: left;
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
  border-radius: 16px;
  margin-right: 10px;
}

.beforeAfter dt.on {
  background: #71C15E;
}

.beforeAfter dd {
  position: absolute;
  top: 50px;
  left: 0;
  display: none;
}

.beforeAfter dd.on {
  display: block;
}

h6 {
  border: 1px solid #71C15E;
  border-radius: 20px;
  width: 100px;
  margin: 10px 10px 10px 40px;
  padding: 10px;
  text-align: center;
}

/* ----------footer---------- */
footer {
  position: relative;
  font-family: NexonGothic;
}

footer>h1 {
  color: #232323;
  font-size: 15rem;
}

.insta {
  position: absolute;
  bottom: 22%;
  left: 20%;
  z-index: 1;
}

.txtFooter {
  position: absolute;
  top: 19%;
  left: 39%;
}

.txtFooter p {
  margin: 15px 0 25px 0;
}

.txtFooter>dl {
  display: flex;
  flex-wrap: wrap;
  line-height: 50px;
  width: 500px;
}

.txtFooter>dl>dt {
  height: 50px;
  color: #71C15E;
  font-weight: bold;
  width: 200px;
}

.txtFooter>dl>dd {
  width: 300px;
}

.thank {
  width: 80%;
}

.thank path {
  fill: transparent;
  stroke: #71C15E;
}

.thank.on path {
  stroke-dashoffset: 0 !important;
  fill: #71C15E;
}

.top {
  width: 3%;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  animation: logoMove 5s linear 0s infinite;
}

/* scrollbar design */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #71C15E;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}